body{
        font-family: "Libre Baskerville", serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
      }

      body::-webkit-scrollbar {
  display: none;
}

.container{
    flex: 1;
    margin-bottom: 50px;
}

.navbar{
    height: 4.5 rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
 text-decoration: none;
 color: #222222;
}


.f-info-links a:hover{
    text-decoration:underline;
   }


.f-info-links {
    width: 100%;
}


.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
    margin-left: 1.3rem;
}


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info{
    text-align: center;
    height:7rem ;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
   }
/* styling for cards */
   .listing-card{
    border: none !important;
    margin-bottom: 1.9rem;
    padding-bottom: 2rem;
   }
   .card-img-top{
    border-radius:1rem !important ;
    width: 100% !important;
    max-width: 400px;
    object-fit: cover !important;
   }

   .card-body{
    padding: 0 !important;
   }

   .card-text p{
    font-weight: 400;

   }
   
   .listing-link{
    text-decoration: none;
   }

   /* card effect */

 .card-img-overlay{
    opacity: 0;
 }  

 .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
 }


 .add-btn{
    background-color: #fe424d !important ;
 }

 .edit-btn{
    background-color: #fe424d !important;
 }

 /* show image */
 .show-image{
    height: 30vh;
 }

 .deleted{
    background-color: crimson;
 }


 #map {
    height: 400px;
    width: 70vh;
 }

 .tax-info{
    display:none;
 }
